## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the objectives that will be covered are:
- Popular language
- Commonly used libraries
- Data Science tools
- Arithmetic equations

Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|:-:|
|RStudio|
|Apache Spark|
|Apache Hadoop|

Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This is a simple arithmetic expression to multiply then add integers.

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60.

200/60

3.3333333333333335

## Author
Koh Jia Hao